/* Start Variabls */
:root{
    --primary-color:#19c8fa;
    --transparent-color: #19c8fa80;
    --border-primary-color: #a2a2a2;
    --text-color: #a8a8a8;
    --text-dark-color: #1f2021;
    --section-padding: 100px;
    --fast-transition-duration: 0.3s;
    /* --section-padding-sides: 48px;
    --section-padding-bottom: 140px; */
}
/* End Variabls */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: #aaa; */
}
ul{
    list-style:none
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Medium Screen */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large Screen */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/* End Global Rules */

/* Start components */
.link {
    display: block;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 2px;
    min-width: 150px;
    max-width: fit-content;
    padding: 14px;
    margin: 20px auto;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--fast-transition-duration);
}
.link:hover{
    color: #eee;
    background-color: #19c8fad4;
}

.heading{
    text-align: center;
}
.heading h2{
    color: var(--text-dark-color);
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}
.heading h2::before{
    content: '';
    position: absolute;
    width: 112px;
    height: 1px;
    background-color: var(--text-dark-color);
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}
.heading h2::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid var(--text-dark-color);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    background-color: #fff;
}
.heading p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 2;
    margin-bottom: 100px;
}
/* End components */

/* Start Header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2; 
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    right: 15px;
    background-color: var(--border-primary-color);
}
header .container .logo img{
    width: 112px;
    height: 36px;    
}
header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
header nav .toggle-menu{
    color:#fff;
    font-size: 22px;
}
@media (min-width: 768px){
    header nav .toggle-menu{
        display: none;
    }
}
header nav ul{
    display: flex;  
}
@media (max-width: 767px){
    header nav ul{
        display: none;
    }
    header nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0008;
    }
    header nav ul li a{
        padding: 15px !important;
    }
    
}
header nav ul li a{
    display: block;
    padding: 40px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 14pt;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}
header nav ul li a::after{
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    right: 15px;
    background-color: var(--primary-color);
    display: none;
}
header nav ul li a:hover::after,
header nav ul li a.active::after{
    display: block;
}
header nav .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 40px;
    border-left: 2px solid #fff;
}

header nav .form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    right: 0;
}
header nav ul li a.active,
header nav ul li a:hover,
header nav .form i:hover{
    color: var(--primary-color);
    cursor: pointer;
}
/* End Header */

/* Start Landing */
.landing{
    background-color: var(--text-dark-color);
    background-image: url("../images/landing2.jpg");
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0008;
}
.landing .text{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    transform: translateY(-40%);
    width: 60%;
    padding: 64px;
    color: #fff;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end; 
}
.landing .text .content{
    max-width: 500px;
}
@media (max-width: 767px){
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
        text-align: center;
    }
}
.landing .text .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.8;
    margin-bottom: 30px;
}
.landing .text .content p{
    font-size: 14px;
    line-height: 1.8;
}
.change-background{
    color: #ffffffab;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1.3;
    border-radius: 50%;
    transition: var(--fast-transition-duration);
}
.change-background:hover{
    color:#fff;
    background-color:#00000094;
    cursor: pointer;
    
}
.left-arrow{
    top:50%;
    transform:translateY(-50%);
    left: 25px;
}
.right-arrow{
    top:50%;
    transform:translateY(-50%);
    right: 25px;
}
.bullets{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 34px;
}
.bullets li{
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 50%;
    transition: var(--fast-transition-duration);
}
.bullets li:hover{
    background-color: #07a6d1ad;
    border-color: #07a6d1ad;
    cursor: pointer;
}

.bullets .active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
/* End Landing */

/* Start Services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 40px);
}
@media (min-width: 768px){
    .services .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
        row-gap: 60px;
        column-gap: 40px;   
    }
}
.services .serv-box{
    display: flex;
}
.serv-box i{
    color: var(--border-primary-color);
    width: 48px;
    margin-right: 80px;
}
.serv-box .serv-text{
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .serv-box{
        flex-direction: column;
        text-align: center;
    }
    .serv-box i{
        margin: 0px auto 30px;
    }
}
.serv-box h3{
    font-size: 24px;
    font-weight: normal;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.serv-box p{
    color: var(--text-color);
    line-height: 1.6;
    font-size: 16px;
    max-width: 95%;
}
/* End Services */

/* Start Design */
.design{
    background-color: var(--text-dark-color);
    background-image: url("../images/design.jpg");
    background-size: cover;
    background-position-x: center;  
    height: 600px;
    display: flex;   
    align-items: center;
    position: relative;
    z-index: -2;
    /* margin-bottom: var(--section-padding); */
}
.design::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0008;
    z-index: -1;
}
.design .image{
    height: 375px;
    align-self: flex-end;
    text-align: center;
    flex: 1;
}
@media (max-width: 767px){
    .design .image{
        display: none;
    }
}
.design .image img{
    max-width: 300px;
    height: 100%;   
    margin-bottom: -4px;
}
.design .text{
    width: 50%;
    padding: 50px;
    color: #fff;
    background-color: var(--transparent-color);
    flex:1;
}
.design .text h2{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 35px;
}
.design .text ul li {
    padding-top: 12px;
    padding-bottom: 12px;
}
.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 26px;
    position: relative;
    top: 1px;
}
/* End Design */

/* Start Portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) -20px);
}
.portfolio .categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -25px auto 30px;
}
.portfolio .categories li{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text-dark-color);
    padding: 10px 20px;
    cursor: pointer;
    transition: var(--fast-transition-duration);
    margin-right: 20px;
}
@media (max-width: 767px){
    .portfolio .categories li{
        margin-right: 0px;    
    }
}
.portfolio .categories li.active,
.portfolio .categories li:hover{
    color: #fff;
    background-color: var(--primary-color);
}

.gallary{
    display: flex;
    flex-wrap: wrap;
}
.gallary .box{
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}
@media (max-width: 991px){
    .gallary .box{
        flex-basis: 50%;
    }
}
@media (max-width: 767px){
    .gallary .box{
        flex-basis: 100%;
    }
    .gallary{
        justify-content: center;
    } 
    .box.hide{
        display: none;
    }
}

.gallary .box img{
    max-width: 100%;
    transition: var(--fast-transition-duration);
}
.gallary .box:hover img{
    transform: rotate(3deg) scale(1.1);
    filter: brightness(0.7);
}

.gallary .box .caption{
    padding: 10px 20px;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fffefe3d;
    transition:  var(--fast-transition-duration);
}
.gallary .box:hover .caption{
    bottom: 0;
}

.gallary .box .caption h3{
    color: #fff;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}
.gallary .box .caption p{
    color: #fff;
    font-size: 12px;
}
/* End Portfolio */
/* Start Video */
.video{
    position: relative;
    margin: var(--section-padding) 0;
}
.video video{
    width: 100%;
}
.video::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 2;
}
.video .text{
    width: 100%;
    padding: 50px 62px;
    color: #fff;
    background-color: var(--transparent-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: center;
}
@media (max-width:767px){
    .video .text{
        padding: 0;
        background-color:transparent;
    }
}
.video .text h2{
    font-weight: 600;
    text-transform: uppercase;
}
.video .text p{
    font-weight: 600;
    margin: 30px 0;
}
.video .link{
    background-color: #1f2021ba;
}
.video .link:hover{
    background-color: #1f2021;
}

/* End Video */

/* Start About */
.about{
    overflow: hidden;
    text-align: center;
}
.about img{
    max-width: 100%;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}
@media (max-width: 767px){
    .about img{
        bottom: -60px;
        margin-top: -60px;
    }
}
/* End About */
/* Start Stats */
.statistics{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/illusion_stats.jpg");
    background-size: cover;
    background-position-x: 56%; 
    background-position-y: center;
    position: relative;
}
.statistics::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0004;
}
.statistics .container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.statistics .box{
    color: #fff;
    padding: 46px;
    text-align: center;
    background-color: var(--transparent-color);
}
@media (max-width: 767px){
    .statistics .box{
        flex-basis: 100%;
        position: relative;
    }
    .statistics .box:not(:last-child)::after{
        content: '';
        position: absolute;
        bottom: -0;
        left: 25%;
        width: 50%;
        height: 1px;
        background-color: #ffffffab;
    }
}
@media (min-width: 768px){
    .statistics .box{
        flex-basis: 50%;
    }
}
@media (max-width: 767px){
    .statistics .box{
        flex-basis: 100%;
    }
}
@media (min-width: 992px){
    .statistics .box{
        flex-basis: 25%;
    }
}
.statistics .box i{
    font-size: 25px;
    background-color: #353235;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.statistics .box .number{
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 30px;
}
.statistics .box p{
    font-size: 14px;
}
/* End Stats */

/* Start OurSkills */
.our-skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container{
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 767px){
    .our-skills .container{
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}
.our-skills .container > div {
    flex-basis: 50%;
    padding: 0 40px;
    position: relative;
    flex: 1;
    margin-bottom: 40px;
}
.our-skills h3{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 40px;
    text-align: center;
}
.our-skills h3 + p{
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 40px;
    line-height: 2;
    text-align: center;
}
.testimnoials .review{
    display: flex;
}
@media (max-width: 991px){
    .testimnoials .review{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .testimnoials .review .box {
        margin-left: 0;
    }
}
.testimnoials .review img{  
    width: 100px;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 40px;

}
.testimnoials .review .box{
    margin-left: 40px;
    font-size: 14px;
    line-height: 1.5;
}
@media (max-width: 991px){
    .testimnoials .review .box {
        margin-left: 0;
    }
}
.testimnoials .review .author{  
    font-style: italic;
    color: var(--text-color);
    text-align: right;
    margin: 5px 0 20px ;
}
.testimnoials .review hr{
    margin-bottom: 40px;
}
.testimnoials .bullets{
    bottom: 0px;
}
.testimnoials .bullets li{
    padding: 5px;
}
.skill  p{
    font-size: 14px;
    margin-bottom: 10px;
}
.skill .bar{
    background-color: #dedadc;
    margin-bottom: 30px;
    height: 20px;
}
.skill .bar span{
    display: block;
    height: 100%;
    background-color: var(--primary-color);
    position: relative;
}
.skill .bar span::before{
    content: "";
    position: absolute;
    right: 0;
    top: -55%;
    transform: translateX(50%) rotate(45deg);
    padding: 3px;
    background-color: var(--text-dark-color);
}
.skill .bar span::after{
    content: attr(data-progress);
    position: absolute;
    right: 0;
    top: -120%;
    transform: translateX(50%);
    width: 30px;
    height: 12px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    padding: 2px;
    background-color: var(--text-dark-color);
}
/* End OurSkills */

/* Start Quote */
.quote{
    padding-top: calc(var(--section-padding) + 50px);
    padding-bottom: calc(var(--section-padding) + 50px);
    background-image: url(../images/quote3.jpg);
    background-position: center;
    background-size: cover;   
}
.quote .container{
    text-align: center;
}
.quote q{
    color: #fff;
    font-size: 25px;
    
}
.quote p{
    color: #fff;
    font-size: 16px;
    margin-top: 25px;
}
/* End Quote */
/* Start pricing */
.pricing{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media(min-width: 768px){
    .pricing .content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        gap: 30px;
    }
}
.pricing .plan{
    text-align: center;
}

.pricing .plan .head{
    padding: 40px 0;
    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent var(--primary-color) transparent  ;
}
@media(min-width: 768px){
    .pricing .plan .head{
        border-color: var(--primary-color) transparent;
    }
}
.pricing .plan .head h3{
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.pricing .plan .head span{
    font-weight: 600;
    font-size: 56px;
    position: relative;
}
.pricing .plan .head span::before{
    content: attr(data-currency);
    font-size: 20px;
    position: absolute;
    top: 12px;
    left: -20px;
}
.pricing .plan .head span:after{
    content: attr(data-period);
    font-size: 16px;
    position: absolute;
    bottom: 12px;
    right: -40px;
}

.pricing .plan ul li{
    padding: 30px 10px;
    margin: 0 auto;
    position: relative;
}
.pricing .plan ul li:not(:last-child)::after{
    content: '';
    width: 50%;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    left: 25%;
    bottom: 0;
}
.pricing .plan .footer{
    padding: 40px;
    border-top: 1px solid var(--primary-color);
}
.pricing .plan .footer a{
    display: block;
    width: 130px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    color: #000;
    transition: var(--fast-transition-duration);
}
.pricing .plan .footer a:hover{
    background-color: var(--primary-color)/*#19c8fa63*/;
    color: #fff;
}

.pricing p.text{
    font-size: 20px;
    text-align: center;
    margin: 40px 0;
    line-height: 1.8;
}
/* End pricing */
/* Start Subscribe */
.subscription{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #555;
    background-image: url("../images/subscription.jpg");
    background-size: cover; 
    background-position: center;
    position: relative;
}
.subscription::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0004;
}
.subscription .container{
    display: flex;
    gap: 30px;
    position: relative;
    align-items: center;
}
@media(max-width: 991px){
    .subscription .container{
        flex-wrap: wrap;
        justify-content: center;
    }
}
.subscription .mail-form{
    width: 600px;
    max-width: 100%;
    border: 1px solid #fff;
    display: flex;
    min-height: 60px;

}
.subscription .mail-form i{
    margin-top: 22px;
    margin-left: 20px;
    color: #fff;
}
.subscription .mail-form input[type="email"]{
    flex: 1;
    background-color: unset;
    border: none;
    color: #fff;
    padding: 10px;
    caret-color: var(--primary-color);
    width: calc(100% - 130px);
}
.subscription .mail-form input[type="email"]::placeholder{
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}
.subscription .mail-form input[type="submit"]{
    border: none;
    display: inline;
    margin: 0;
    width: 130px;
}
.subscription .mail-form input[type="email"]:focus,
.subscription .mail-form input[type="submit"]:focus{
    outline: none;
}
.subscription .container p{
    color: #fff;
    max-width: 100%;
    font-size: 13px;
    line-height: 1.8;
}
/* End Subscribe */
/* Start Contact-us */
.contact-us{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact-us .content{
    display: flex;
    gap: 40px;
}
@media(max-width:767px){
    .contact-us .content{
        flex-direction: column;
    }
}
.contact-us .content .contact-us-form{
    width: 760px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.contact-us-form input,
.contact-us-form textarea{
    margin-bottom: 40px;
    border-color: #dedadc;
    border-width: 1px;
    padding: 25px;
    caret-color: var(--primary-color);
}
.contact-us-form textarea{
    resize: none;
    height: 200px;
    /* margin-bottom: 10px; */
}
.contact-us-form input::placeholder,
.contact-us-form textarea::placeholder{
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
}
.contact-us-form input:valid,
.contact-us-form textarea:valid{
    border-color: var(--primary-color);
}
.contact-us-form input:focus,
.contact-us-form textarea:focus{
    outline-color: var(--primary-color);
}
.contact-us-form  input[type="submit"]{
    align-self: flex-end;
    margin: 0;
    border: none;
}
@media(max-width:767px){
    .contact-us-form  input[type="submit"]{
        align-self: center;
    }
    
}
@media(max-width:767px){
    .contact-us .info{
        order: -1;
        text-align: center;
    }
}
.contact-us .info h3{
    font-size: 14px;
    margin-bottom: 40px;
}
@media(max-width:767px){
    .contact-us .info h3{
        margin-bottom: 20px;
    }
}
.contact-us .info span{
    font-size: 13px;    
    color: var(--text-color);
    display: block;
    margin-bottom: 20px;
}
.contact-us .info h3:nth-of-type(2){
    margin-top: 114px;
}
@media(max-width:767px){
    .contact-us .info h3:nth-of-type(2){
        margin-top: 20px;
    }
}
.contact-us .info address{
    font-size: 13px;
    color: var(--text-color);
    line-height: 2.2;
}
/* End Contact-us */
/* Start Footer */
footer{
    padding-top: var(--section-padding);
    background-image: url("../images/xxx.jpg");
    background-position-y: 40%;
    background-size: cover;
    position: relative;
}
footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009c;
}
footer .container{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
}
footer .container img{
    width: 112px;
    height: 40px;
    color: #fff;
}
footer .container > span{
    display: block;
    font-size: 20px;
    padding: 20px;
    position:relative;
    text-transform: uppercase;
}
footer .container > span:nth-of-type(1)::after{
    content: '';
    background-color: #fff;
    width: 125%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: -12.5%;
}
footer .container ul{
    margin-top: 20px;
    display: flex;
    width: 16%;
    min-width: 180px;
    justify-content: space-between;
}
footer .container > span:nth-of-type(2){
    text-transform: none;
}
footer .container > span:nth-of-type(2) a{
    text-decoration: none;
    color: var(--primary-color);
    
}
footer .container p{
    margin: 45px 0 20px 0;
}
footer .container p span{
    color: var(--primary-color);
}
/* End Footer */
